<center>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}



</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

<!-- Background image -->
<div class="bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/012.webp');
    height: 100vh;
  ">
  
    <div class="mask" style="background-color: rgba(29, 227, 33, 0.968);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1 class="text-white mb-0">Select a Poll Above</h1>
        </div>
    </div>
    
</div>

<!-- Background image -->
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(241, 187, 12, 0.86);">
        © 2022 Copyright:
        <a class="text-white">Emil Ivanov</a>
    </div>
    <!-- Copyright -->
</footer>
</center>